.masthead {
    background-color:rgb(9, 9, 73);
    height: 200px;
    text-align: center;
    color:white;
}

.card {
    margin: 50px;
    padding: 0px;
    float: left;
    
}

.card-text {
    padding: 20px;
}

.card-title {
    background-color:rgb(9, 9, 73);
    color: white;
    text-align: center;
}

.card-text {
    padding:20px;
    background-color: lightgrey;
}

.card-body {
    background-color:rgb(9, 9, 73);
    text-align: center;
    padding: 0px;
    height: 50px;
}

.card-link {
    width: 200px;
    margin:5px;
}

.table-bordered {
    float: left;
    margin: 50px;
    width: 750px;
}

#thead {
    background-color: darkgray;
}

#tbody {
    background-color: goldenrod;
}

.td {
    padding: 0px;
    background-color: orangered;
}